.DS_Store
.AppleDouble
.LSOverride
nvim-python.*
# Thumbnails
._*
id_rsa
node_modules
homedir/.vim/backup/*
!homedir/.vim/backup/.gitignore
homedir/.vim/temp/*
!homedir/.vim/temp/.gitignore
homedir/.vim/.netrwhist
homedir/.vim/bundle/*
!homedir/.vim/bundle/.gitignore
homedir/nvim/.cache/
homedir/nvim/repos/
noevimconfig/
homedir/nvim/nvim-python.*
!homedir/.vim/bundle/Vundle.vim
homedir/.vim/undo/**
.tern*
log
.env
*.log

