.DS_Store
.AppleDouble
.LSOverride
nvim-python.*
# Thumbnails
._*
id_rsa
node_modules
homedir/.vim/backup/*
!homedir/.vim/backup/.gitignore
homedir/.vim/temp/*
!homedir/.vim/temp/.gitignore
homedir/.vim/.netrwhist
homedir/.vim/bundle/*
!homedir/.vim/bundle/.gitignore
configs/nvim/.cache/
configs/nvim/repos
noevimconfig/
configs/nvim/nvim-python.*
!homedir/.vim/bundle/Vundle.vim
